/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* Variables */

:root {
  --clr-primary-5: #49a6e9;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-white: #fff;
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --fixed-width: 620px;
}

/* Modal */

.hero {
  min-height: 100vh;
  background: url('./hero.jpg') center/cover no-repeat;
  display: grid;
  place-items: center;
}
.banner {
  background: var(--clr-white);
  padding: 4rem 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 90vw;
  max-width: var(--fixed-width);
}

/* Button */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.modal-btn {
  margin-top: 2rem;
  background: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  color: var(--clr-white);
}
.modal-btn:hover {
  background: transparent;
  color: var(--clr-primary-5);
}
